body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
  background-color: #414141;
}

.snake {
  background-color: #4f610e;
  border-radius: 1px;

  /* opacity: 0.8;
  background-image: linear-gradient(-340deg, #414141 43%, transparent 63%),
    linear-gradient(225deg, #414141 25%, transparent 25%),
    linear-gradient(45deg, #414141 25%, transparent 25%),
    linear-gradient(315deg, #414141 25%, #e5e5f7 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat; */
}
.snake:first-of-type {
  background-color: #333;
  border-radius: 2px;
  border: 3px solid #4f610e;
  z-index: 9;
}

#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

.game-border-1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
  border: #abb78a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
  border: #8b966c solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #8b966c;
  background-color: #c4cfa3;
  position: relative;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #abb78a;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #d8ddca;
  display: none;
}

.food {
  background-color: #dedede;
  border: #999 5px solid;
}

#splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  height: auto;
  margin: 30px;
}

#pause-splash-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: flicker 0.9s ease-in-out infinite alternate;
  background-color: rgba(139, 150, 108, 0.45);
}

@keyframes flicker {
  0% {
    font-size: 15px;
  }
  50% {
    font-size: 14px;
  }
}
#instruction-text {
  color: #333;
  text-transform: capitalize;
  margin: 0;
}
